<%- include("partials/header") -%>

<div class="fileSubmit">
<form action="/guides" method="post" enctype='multipart/form-data'>
    <h1>Add a Guide</h1>
    <label for="file-upload" style="display: block;">+</label>
    <input id="file-upload" type="file" name="fileName" accept=".pdf" style="display: none;"/>
    <input type="text" name="tuteTitle">
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>


  <% records.forEach(function(pdfFile){ %>
    <div class="tutesName">
        <a href="/guide/<%=pdfFile._id%>"><h1><%=pdfFile.name%></h1></a>
    </div>
  <% }); %>

<%- include("partials/footer") -%>