<%- include("partials/header") -%>

<form action="/signup" method="post">
    <label for="signup">Username</label>
    <input id="signup" type="email" name="username">
    <label for="pass">Username</label>
    <input id="pass" type="password" name="pass">
    <button class="btn btn-primary" type="submit">Signup</button>
</form>

<%- include("partials/footer") -%>