.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter:blur(16px);
    z-index: +5;
    padding:20px 140px;
}

.navbar img{
    width: 30vh;
}

.links{
    display: flex;
    flex-direction: row;
    font-family: 'Poppins',sans-serif;
    font-weight:400 ;
}

.links a{
    text-decoration: none;
    margin: 20px;
    font-size: 1.5rem;
    color: black;
    transition: .4s;
}

.links a:hover{
    color: #84ce40;
}

.home{
    background-color: #778899;
    display: flex;
    align-items: center;
    margin: unset;
    height: 88vh;
    justify-content: center;
}

.main{
    display: flex;
    justify-content: center;
}

.blogSubmit{
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    border-radius: 12px;
    width: 40vw;
    margin-bottom: 50px;
    font-family: "Poppins",sans-serif;
    box-shadow: 12px 10px 10px 4px rgba(	0,0, 0,.34);
}

.blogSubmit form{
    margin: 50px;
}

.blogSubmit textarea{
    display: block;
    margin-bottom: 40px;
    border-color: black;
    border-radius: 8px;
    font-size: 1.2rem;
    border-width:  2px;
}

.blogSubmit textarea::placeholder{
    position: relative;
    top: 40px;
}


.blogSubmit input[type=text]{
    border-radius: 8px;
    border-color: black;
    font-size: 1.5rem;
    text-align: center;
}

button{
    background-image:linear-gradient(to right,#84ce40,#5abaab) ;
    border-color: white;
}

.blog{
    display: flex;
    flex-direction: column;
    font-family: "Poppins",sans-serif;
    margin-left: 160px;
    box-sizing: border-box;
    width: 80vw;
    box-shadow: 12px 10px 10px 4px rgba(	0,0, 0,.34);
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 16px;
}

.blog h1{
    display: block;
    margin: unset;
}

.blog a{
    text-decoration: none;
    color: #84ce40;
    margin-left: 8px;
}

.blog a:hover{
    color: #5abaab;
}

.guide{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tute{
    box-sizing: border-box;
    border: 10px;
    box-shadow: 12px 10px 10px 4px rgba(	0,0, 0,.34);
}

.fileSubmit{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
    box-shadow: 12px 10px 10px 4px rgba(	0,0, 0,.34);
    width: 30vw;
    padding: 25px;
    margin: auto;
    border-radius: 12px;
    margin-bottom: 40px;
}

.fileSubmit label{
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 20px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50px;
    width: 4vw;
    color: aliceblue;
    margin: auto;
    margin-bottom: 20px;
    background-image: linear-gradient(to right,#84ce40,#5abaab);
}

.tutes{
    display: flex;
    justify-content: center;
}

.object{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Poppins",sans-serif;
    padding:40px 140px;
}

.single{
    box-sizing: border-box;
    box-shadow: 12px 10px 10px 4px rgba(	0,0, 0,.34);
    text-align: center;
    padding: 30px;
    border-radius: 12px;
}

.pdfInput{
    margin-top: 20px;
}


.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 20vw;
    box-shadow: 12px 10px 10px 4px rgba(	0,0, 0,.34);
    justify-content: center;
    padding: 30px;
    border-radius: 12px;
}

.login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Poppins",sans-serif;
    font-size: 1.2rem;
}

.login button{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 5vw;
}

.login a{
    text-decoration: none;
    color: #84ce40;
    transition: .4s;
    font-weight: 400;
}

.login a:hover{
    color: #5abaab;
}

.containerLogin{
    display: flex;
    justify-content: center;
    padding-top: 25vh;
}

.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 20vw;
    box-shadow: 12px 10px 10px 4px rgba(	0,0, 0,.34);
    justify-content: center;
    padding: 30px;
    border-radius: 12px;
}

.signup form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Poppins",sans-serif;
    font-size: 1.2rem;
}

.signup button{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 5vw;
}

.signup a{
    text-decoration: none;
    color: #84ce40;
    transition: .4s;
    font-weight: 400;
}

.signup a:hover{
    color: #5abaab;
}

.containerSign{
    display: flex;
    justify-content: center;
    padding-top: 25vh;
}
